@import url('http://fonts.cdnfonts.com/css/gotham');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   font-family: 'Gotham',
   sans-serif;
    font-weight: bold;

}

body {
    background-color: beige;
font-family: 'Gotham',
sans-serif;
}

h1 {
    background-color: black;
    color: white;
    text-align: center;
    line-height: 40px;
    padding: 1rem;
}

main {
    display: flex;
    height: 78.5vh;
}

.container-right {

    width: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15vh;

}

.container-left {
    width: 50%;
    text-align: center;
    padding-top: 10vh;

}


.container-right>div {
    width: 70%;
    margin: 0.5rem;
    font-size: 2.5rem;
}

label,
input {
    font-size: large;
}

input,
button {
    margin: 1rem;
    padding: 1rem;
    border-radius: 5px;
    width: 50vw;

}

input {
    border: none;
    box-shadow: 9px 9px #999;

}

button {
    border: none;
    background-color: rgba(0, 0, 0, 0.850);
    color: white;
    font-family: "gotham";
    cursor: pointer;
    font-size: large;

}

button:hover {
    background-color: black;
    transition: all 0.15s;
    text-shadow: 5px;
    box-shadow: 9px 9px #999;

}

#output-msg {
    padding: 1rem;
    /* background-color: white; */
    border-radius: 5px;

}

.footer {
    background-color: black;
    display: flex;
    text-align: center;
    color: black;
    justify-content: center;
    line-height: 30px;
    padding: 1rem;
    position: relative;
}

.footer .link {
    color: #fff;
}

.social-icons a {
    padding: 0.5rem;
}

@media (max-width: 960px) {
    button {
        background-color: black;
        transition: all 0.15s;
        text-shadow: 5px;
        box-shadow: 9px 9px #999;

    }

    input,
    label {
        width: 100%;
    }

    main {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        height: 100vh;
    }

    img {
        height: 0px;
        width: 0px;
    }

    .container-right>div {

        font-size: 1.5rem;
    }

    .container-right {
        padding-top: 0;
        width: 100%;
        text-align: center;

    }

    .container-left {
        width: 90%;
        padding: 1rem;
        margin: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

    }


    .container-right {
        display: flex;
        /* margin: 0.5rem; */
        /* font-size: 2rem; */
    }

}